
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="registerForm" style="min-width:100%; max-width:100%;">
    <h4>Register:&nbsp;&nbsp;Create a new account.</h4>
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            @*<label asp-for="Email" class="col-md-2 control-label"></label>*@

            <div class=" input-group">
                <span class="input-group-addon"><i class="fas fa-user fa-2x"></i></span>
                <input type="email" asp-for="Email" class="input-lg form-control" placeholder="Email" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
        <div class="form-group">
            @*<label asp-for="Password" class="col-md-2 control-label"></label>*@

            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-lock fa-2x"></i></span>
                <input id="password" type="password" asp-for="Password" class="input-lg form-control" placeholder="Password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>
        <div class="form-group">
            @*<label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>*@

            <div class="input-group" id="confirmPassword">
                <span class="input-group-addon"><i class="fas fa-lock fa-2x"></i></span>
                <input type="password" asp-for="ConfirmPassword" class="input-lg form-control" placeholder="Confirm Password" />
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        </div>
        <div class="form-group">
            <button type="submit" id="registerButton" class="btn btn-primary btn-lg btn-block text-center"><i id="registerIcon" class="fas fa-user-plus"></i> Register</button>
        </div>
        <div>
            <button type="button" class="btn btn-info" id="loginLink"><i id="registerIcon" class="fas fa-chevron-left"></i>&nbsp;&nbsp;Go back to login</button>
        </div>
    </form>
</div>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
