@model IEnumerable<ReportDeadline>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <td class="bg-darkblue text-light text-center" colspan="4">Deadline History</td>
        </tr>
        <tr>
            <th>Due Date</th>
            <th>Run Date</th>
            <th>Approval Date</th>
            <th>Sent Date</th>
        </tr>
    </thead>
    <tbody>
        @if(Model is null || Model.Count() == 0)
        {
            <tr>
                <th class="text-muted" colspan="4">
                    Nothing To Display
                </th>
            </tr>
        }
        @foreach (ReportDeadline rd in Model)
        {
            <tr>
                @if(rd.Deadline != null){
                    <td>@rd.Deadline.ToShortDateString()</td>
                }
                else{
                    <td>N/A</td>
                }
                @if (rd.RunDate != null)
                {
                    <td>@rd.RunDate</td>
                }
                else
                {
                    <td>N/A</td>
                }
                @if (rd.ApprovalDate != null)
                {
                    <td>@rd.ApprovalDate</td>
                }
                else
                {
                    <td>N/A</td>
                }
                @if (rd.SentDate != null)
                {
                    <td>@rd.SentDate</td>
                }
                else
                {
                    <td>N/A</td>
                }
            </tr>
        }
    </tbody>
</table>
