@model ReportOverviewApp.Models.Report

@{
    ViewData["Title"] = "Delete";
}

<h5>Are you sure you want to delete <span class="font-italic font-weight-bold" id="deleteReport_name"></span> from <span class="font-italic font-weight-bold" id="deleteReport_groupName"></span>?</h5>
<div>
    
    <input type="hidden" class="sr-only" id="deleteReport_id"  asp-for="ID" />
</div>
