@model ReportOverviewApp.Models.ReportViewModels.ReportViewModel

@{
    ViewData["Title"] = "Directory";
}

<h2 class="page-header">Directory</h2>
<div class="col-sm-12">
    <ol class="breadcrumb">
        <li id="statesPath"><a>State</a></li>
        <li id="plansPath"><a>Plan</a></li>
    </ol>
</div>
<div id="statesList" class="col-sm-12">
    <ul>
        @foreach (var stateItem in Model.States){
        <li>
            <a>
                @stateItem
            </a>
        </li>
         } 
    </ul>
</div>
<div id="plansList" class="col-sm-12">
    <ul>
        @foreach (var planItem in Model.Plans){
            <li>
                <a>
                    @planItem
                </a>
            </li>
         }
    </ul>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}