@model ReportOverviewApp.Models.Report

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTesting">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessContactId" class="control-label"></label>
                <select asp-for="BusinessContactId" class="form-control" asp-items="ViewBag.BusinessContactId"></select>
                <span asp-validation-for="BusinessContactId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate1" class="control-label"></label>
                <input asp-for="DueDate1" class="form-control" />
                <span asp-validation-for="DueDate1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate2" class="control-label"></label>
                <input asp-for="DueDate2" class="form-control" />
                <span asp-validation-for="DueDate2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate3" class="control-label"></label>
                <input asp-for="DueDate3" class="form-control" />
                <span asp-validation-for="DueDate3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate4" class="control-label"></label>
                <input asp-for="DueDate4" class="form-control" />
                <span asp-validation-for="DueDate4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayDue" class="control-label"></label>
                <input asp-for="DayDue" class="form-control" />
                <span asp-validation-for="DayDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryFunction" class="control-label"></label>
                <input asp-for="DeliveryFunction" class="form-control" />
                <span asp-validation-for="DeliveryFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkInstructions" class="control-label"></label>
                <input asp-for="WorkInstructions" class="form-control" />
                <span asp-validation-for="WorkInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysAfterQuarter" class="control-label"></label>
                <input asp-for="DaysAfterQuarter" class="form-control" />
                <span asp-validation-for="DaysAfterQuarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderLocation" class="control-label"></label>
                <input asp-for="FolderLocation" class="form-control" />
                <span asp-validation-for="FolderLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportType" class="control-label"></label>
                <input asp-for="ReportType" class="form-control" />
                <span asp-validation-for="ReportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RunWith" class="control-label"></label>
                <input asp-for="RunWith" class="form-control" />
                <span asp-validation-for="RunWith" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryMethod" class="control-label"></label>
                <input asp-for="DeliveryMethod" class="form-control" />
                <span asp-validation-for="DeliveryMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliverTo" class="control-label"></label>
                <input asp-for="DeliverTo" class="form-control" />
                <span asp-validation-for="DeliverTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveDate" class="control-label"></label>
                <input asp-for="EffectiveDate" class="form-control" />
                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerminationDate" class="control-label"></label>
                <input asp-for="TerminationDate" class="form-control" />
                <span asp-validation-for="TerminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportPath" class="control-label"></label>
                <input asp-for="ReportPath" class="form-control" />
                <span asp-validation-for="ReportPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceDepartment" class="control-label"></label>
                <input asp-for="SourceDepartment" class="form-control" />
                <span asp-validation-for="SourceDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsQualityIndicator" /> @Html.DisplayNameFor(model => model.IsQualityIndicator)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ERSReportLocation" class="control-label"></label>
                <input asp-for="ERSReportLocation" class="form-control" />
                <span asp-validation-for="ERSReportLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ERRStatus" class="control-label"></label>
                <input asp-for="ERRStatus" class="form-control" />
                <span asp-validation-for="ERRStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemRefreshDate" class="control-label"></label>
                <input asp-for="SystemRefreshDate" class="form-control" />
                <span asp-validation-for="SystemRefreshDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegacyReportID" class="control-label"></label>
                <input asp-for="LegacyReportID" class="form-control" />
                <span asp-validation-for="LegacyReportID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegacyReportIDR2" class="control-label"></label>
                <input asp-for="LegacyReportIDR2" class="form-control" />
                <span asp-validation-for="LegacyReportIDR2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ERSReportName" class="control-label"></label>
                <input asp-for="ERSReportName" class="form-control" />
                <span asp-validation-for="ERSReportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherReportLocation" class="control-label"></label>
                <input asp-for="OtherReportLocation" class="form-control" />
                <span asp-validation-for="OtherReportLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherReportName" class="control-label"></label>
                <input asp-for="OtherReportName" class="form-control" />
                <span asp-validation-for="OtherReportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

