@model ReportOverviewApp.Models.ReportViewModels.ReportViewModel

@{
    ViewData["Title"] = "SelectPlan";
}

<h2 class="page-header">Select A Plan</h2>
<div class="container">
    <div class="row">
        <h4 class="col-lg-6">Choose State</h4>
        <h4 class="col-lg-6">Choose Plan</h4>
    </div>
    <form>
        <div class="row">
            <ul class="col-sm-6">
                @foreach (var stateItem in Model.States)
            {
                    <li>
                        <a href="#">
                            @Html.ActionLink(stateItem, "SelectPlan", new {state = @stateItem})
                        </a>
                    </li>
                }
            </ul>
            <ul class="col-sm-6">
                @foreach (var planItem in Model.Plans)
            {
                    <li>
                        <a href="#">
                            @Html.ActionLink(planItem, "Index", new {plan = @planItem})
                        </a>
                    </li>
                }
            </ul>
        </div>
    </form>
    

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}