@model ReportOverviewApp.Models.ReportViewModels.SelectPlanViewModel

@{
    ViewData["Title"] = "SelectPlan";
}

<h2 class="page-header">Select A Plan</h2>
<div class="container">
    <div class="row">
        <h4 class="col-md-3">Choose State</h4>
        <h4 class="col-md-9">Choose Plan</h4>
    </div>
    <form>
        @if (Model == null || Model.StatePlanSelection == null || Model.StatePlanSelection.Count() == 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <h5>No States Or Plans Found</h5>
                </div>
            </div>
        } else{ 
            <div class="row">
                <div class="col-md-3 list-group">
                    @foreach (var stateItem in (Model.StatePlanSelection.Select(tuple => tuple.Item1).Distinct().OrderBy(t => t.ToString())))
                    {
                        @Html.ActionLink(stateItem, "SelectPlan", new { state = @stateItem }, new { @class = "list-group-item list-group-item-action" })
                    }
                </div>
                <div class="col-md-9 list-group">
                    @foreach (var statePlanItem in (Model.StatePlanSelection.Distinct().OrderBy(t => t.Item2)))
                    {
                        @Html.ActionLink(statePlanItem.Item2, "Index", new { state = @statePlanItem.Item1, plan = @statePlanItem.Item2 }, new { @class = "list-group-item list-group-item-action" })
                    }
                </div>
            </div>
        }
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}