@using Microsoft.AspNetCore.Identity
@using ReportOverviewApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    .user-option-icon-onleft {
        padding-right: 0.5rem;
    }
    .user-option-icon-onright {
        padding-left: 0.5rem;
    }
</style>
<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
    <ul class="navbar-nav mr-auto">
        <li class="dropdown nav-item">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                @{var userName = User.Identity.Name;
                    try
                    {
                        userName = User.Identity.Name.Split('@').First().Replace('.', ' ');
                    }
                    catch {}
                }
                <span class="user-option-icon-onleft"><i class="fas fa-user"></i></span>@(SignInManager.IsSignedIn(User)?$"{userName}":"Account")
            </a>
            <ul class="dropdown-menu dropdown-menu-right border-dark navbar-dark bg-dark">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><span class="user-option-icon-onleft"><i class="fas fa-address-card fa-lg"></i></span>User Profile</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="#"><span class="fas fa-bell-o user-option-icon-onleft"></span>Notifications&nbsp&nbsp<span class="badge" style="background-color: #FF5238;">0</span></a></li>*@
                    <li class="nav-item"><button type="submit" class="btn btn-link nav-link"><span class="user-option-icon-onleft"><i class="fas fa-sign-out-alt fa-lg"></i></span>Log out</button></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                }
            </ul>
        </li>
    </ul>
</form>