@using Microsoft.AspNetCore.Identity
@using ReportOverviewApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                 @(SignInManager.IsSignedIn(User)? $"{User.Identity.Name} " : "Account ")
                <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">User Profile</a></li>
                    <li><a href="#">Notifications <span class="badge" style="background-color: #FF5238;">0</span></a></li>
                    
                    @*<li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                    </li>*@
                }
                else
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                }
            </ul>
        </li>
        @if (SignInManager.IsSignedIn(User))
        {<li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
        </li>}
    </ul>
    
</form>