<form asp-controller="Data" asp-action="ExportPlans">
    <div class="modal-header">
        <h5 class="modal-title">
            Export Plans
        </h5>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label class="form-control-label">Name</label>
                    <input type="text" class="form-control" id="exportFileName" name="fileName" placeholder="Enter File Name" />
                </div>
                <div class="form-group col-md-3">
                    <label class="form-control-label">File Type</label>
                    <select class="form-control custom-select" name="fileAs" required>
                        <option selected value="@FileExtension.Excel">Excel (.xlsx)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" formtarget="_blank"><span id="exportIcon" class="fas fa-arrow-down"></span> Export</button>
    </div>
</form>