@model DateTime
<div id="currentDateTimeWidget" class="card">
    <h6 class="card-header">
        Current Date/Time
    </h6>
    <div id="currentDateTimeData" class="card-body">
        @Model.ToLongDateString()
        @Model.ToLongTimeString()
    </div>
</div>
