@model IndexViewModel
@{
    ViewData["Title"] = "Settings";
}

<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Account Settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-primary"><i class="fas fa-lock"></i>&nbsp;&nbsp;Change your password</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn btn-primary"><i class="fas fa-lock"></i>&nbsp;&nbsp;Create a password</a>
            }
        </dd>
        <dt>External Logins: <span class="badge badge-danger badge-pill">@Model.Logins.Count Enabled</span></dt>
        <dd>
             <a asp-controller="Manage" asp-action="ManageLogins" class="btn btn-primary">Manage external logins</a>
        </dd>
    </dl>
</div>
<div>
    <label>
        Themes:
    </label>
    <a class="btn btn-light border-dark" asp-area="" asp-controller="Manage" asp-action="ChangeTheme" asp-route-theme="Light"><span><i class="far fa-sun"></i></span>&nbsp;Light</a>
    <a class="btn btn-dark" asp-area="" asp-controller="Manage" asp-action="ChangeTheme" asp-route-theme="Dark"><span><i class="far fa-moon"></i></span>&nbsp;Dark</a>
</div>
