body {
    background-color: #303032;
}
h1, h2, h3, h4, h5, h6, p, td, th{
    /*color: #d2d2d2*/
    color: white;
}
/*ul, ol {
    border-color: #8e8e8e;
    background-color: #303032;
    color: #d2d2d2
}*/

table.table-bordered{
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
table.table-bordered thead {
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
table.table-bordered thead tr {
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
table.table-bordered thead tr td {
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
table.table-bordered thead tr th {
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
table.table-bordered tbody {
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
table.table-bordered tbody tr {
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
table.table-bordered tbody tr td{
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
table.table-bordered tbody tr th{
    border: 2px solid #37445f;
    border-bottom: 2px solid #37445f;
}
dt{
    color: white;
}
dd{
    color: lightgrey;
}
hr{
    background-color: #246fcb;
}
label {
    color: white;
}
.card{
    background-color: #4a5365;
}
.card:not(.bg-success):not(.bg-danger):not(.bg-warning) .card-header {
    background-color: #246fcb;
}

.nav-tabs {
    background-color: #246fcb;
    color: aliceblue;
}
.card .card-header .card-header-tabs .nav .nav-item .active {
    border: 2px solid #4a5365;
    background-color: #4a5365;
    color: aliceblue;
}
.card-footer {
    background-color: #3A4355;
}
.card.bg-success .card-header h6 {
    color: white;
}
.card.bg-danger .card-header h6 {
    color: white;
}
.card.bg-warning .card-header h6 {
    color: black;
}

.list-group-item:not(.list-group-item-warning), .list-group-item:not(.list-group-item-danger), .list-group-item:not(.list-group-item-success), .list-group-item.list-group-item-action {
    background-color: #404046;
    color: #DEDEDE;
}
a.list-group-item:hover, a.list-group-item.list-group-item-action:hover, p.list-group-item.list-group-item-action:hover {
    background-color: #505066;
    color: #C0C0C0;
}
/*.list-group-item.list-group-item-warning, .list-group-item.list-group-item-action {
    background-color: #404011;
    color: #DEDEDE;
}*/
.pagination li.page-item .page-link {
    background-color: #404046;
    border: 1px solid #3A3A3C;
}
.pagination li.page-item span a {
    background-color: #404046;
    border: 1px solid #3A3A3C;
}
    .pagination li.page-item span a.page-link {
        background-color: #404046;
        border: 1px solid #3A3A3C;
    }
.modal-content {
    background-color: #303032;
}
input.form-control, textarea.form-control {
    color: #d2d2d2;
    background-color: #404046;
}
input.form-control:focus, textarea.form-control:focus{
    color: #d2d2d2;
    background-color: #242424;
}
input[readonly].form-control, input[readonly].form-control:focus {
    color: #c0c0c0;
    background-color: #303030;
}
select.form-control, select.form-control:focus{
    color: #d2d2d2;
    background-color: #404046;   
}
.fa-cog {
    color: #246fcb;
}
.progress-background-custom{
    background-color: #2d333f;
}