@model IEnumerable<ReportOverviewApp.Models.UserLog>
<div class="card">
    <div class="template" style="display:none;">
        <i class="fas fa-sticky-note" tabindex="0" data-toggle="tooltip" data-placement="right"></i>
    </div>
    <div class="emptyTemplate" style="display:none;">
        <tr>
            <td colspan="4" class="text-info">No logs present</td>
        </tr>
    </div>
    <div class="ulBodyTemplate" style="display:none;">
        <tr>
            <td class="ulMessage"></td>
            <td class="ulTimeStamp"></td>
            <td class="ulUser"></td>
            <td class="ulNotes"></td>
        </tr>
    </div>
    <h6 class="card-header" style="display:inline-block">
        User Logs
    </h6>
    <div>
        <table class="card-body table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>TimeStamp</th>
                    <th>User</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody id="ulBody">
                
                @if(Model == null || !Model.Any())
                {
                <tr>
                    <td colspan="4" class="text-info">No logs present</td>
                </tr>

                }
                else
                {
                    @foreach(UserLog ul in Model.OrderByDescending(m => m.TimeStamp).Take(5))
                    {
                    <tr style="font-size: 0.85rem;">
                        <td class="ulMessage">@ul.Message</td>
                        <td class="ulTimeStamp">@ul.TimeStamp.Value.ToString("MM/dd/yyyy")</td>
                        <td class="ulUser">@ul.User.UserName</td>
                        <td class="ulNotes">@ul.Notes</td>
                    </tr>

                    }

                }

            </tbody>
        </table>
    </div>
</div>