<ul style="list-style:none; font-size: 1.2rem; position:fixed;">
    <li>Categories</li>
    <li><a asp-controller="Docs" asp-action="Reports">Reports</a></li>
    <li><a asp-controller="Docs" asp-action="Deadlines">Deadlines</a></li>
    <li><a asp-controller="Docs" asp-action="Plans">Plans</a></li>
    <li><a asp-controller="Docs" asp-action="BusinessContacts">Business Contacts</a></li>
</ul>