<h4>
    Navigation
</h4>
<div class="container">

    <h5>Locations</h5>
    <div>
        <p><i>Url</i></p>
        <ul style="list-style:none;">
            <li><a asp-controller="Plans" asp-action="Index">Plans</a></li>
        </ul>
        <p><i>Navbar Location</i></p>
        <ul style="list-style:none;">
            <li><p>Located on the top of the page, the navbar has a link for <strong>Plans</strong>.&nbsp;&nbsp;By clicking on it, the user will be redirected to the Plans page.</p></li>
        </ul>
    </div>
    <h5>Plans</h5>
    <div>
        <p><i>Structure</i></p>
        <ul>
            <li>Title, Create New, Export</li>
            <li>
                Pagination
                <ul>
                    <li>
                        Description:  Allows the user to decrement/increment page indices of the plans as well as choosing the number of plans to show.
                    </li>
                    <li>
                        Options
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-chevron-left"></i> - Decrement index (Show the previous set of records)
                            </li>
                            <li>
                                <i class="fas fa-chevron-right"></i> - Increment index (Show the next set of records)
                            </li>
                            <li>
                                <i class="fas fa-caret-down"></i> - Dropdown (Choose number of records to be displayed)
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                Table
                <ul>
                    <li>
                        Id
                        <ul>
                            <li>
                                Description:&nbsp;&nbsp;ID of a plan
                            </li>
                        </ul>
                    </li>
                    <li>
                        Name
                        <ul>
                            <li>
                                Description:&nbsp;&nbsp;Name of a plan
                            </li>
                        </ul>
                    </li>
                    <li>
                        State
                        <ul>
                            <li>
                                Description:&nbsp;&nbsp;State of which a plan belongs to.
                            </li>
                        </ul>
                    </li>
                    <li>
                        WindwardId
                        <ul>
                            <li>
                                Description:&nbsp;&nbsp;Windward ID of a plan.
                            </li>
                        </ul>
                    </li>
                    <li>
                        HasActiveReports
                        <ul>
                            <li>
                                Description:&nbsp;&nbsp;Characteristic of which a plan has reports that are active.
                            </li>
                        </ul>
                    </li>
                    <li>
                        HasActiveReports
                        <ul>
                            <li>
                                Description:&nbsp;&nbsp;Characteristic of which a plan has reports that are termed.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Options
                        <ul>
                            <li>
                                Description:&nbsp;&nbsp;Options for the user to click on for the following actions.
                            </li>
                            <li>
                                Table Header
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fas fa-search"></i> - Search
                                    </li>
                                    <li>
                                        <i class="fas fa-times"></i> - Clear search
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Table Body (plan rows)
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fas fa-edit"></i> - Managing (Edit/Delete) a plan
                                    </li>
                                    <li>
                                        <i class="fas fa-book"></i> - View more details of a plan
                                    </li>
                                    <li>
                                        <i class="fas fa-calendar"></i> - View the deadlines of a plan
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<h4>
    Operations
</h4>
<div class="container">
    <h5>Searching plans</h5>
    <div>
        <p><i>When searching for a plan</i><p />
        <p>
            <ul>
                <li>Enter text into the input fields</li>
                <li>
                    Click <i class="fas fa-search"></i> or press <kbd>Enter</kbd> to search for plans that meet the criteria of the input fields.
                </li>
                <li>
                    Click <i class="fas fa-times"></i> to clear all fields for searching.
                </li>
            </ul>
        </p>
    </div>
    <hr />
    <h5>Creating plans</h5>
    <div>
        <p><i>When creating a plan</i><p />
        <p>
            <ul>
                <li>
                    Click <strong><i class="fas fa-plus-square"></i> Create New</strong> to open the New plan dialog.
                </li>
                <li>
                    Enter in fields for the form.
                </li>
                <li>
                    Clicking on <strong><i class="fas fa-save"></i> Save</strong> will send a request to the server to create the plan and save it to the database.
                </li>
                <li style="list-style:none;">
                    A success alert will be shown confirming the save request was sucessful made and processed.
                    <div class="alert alert-success"><strong>Example plan</strong> has been successfully created.</div>
                </li>
                <li style="list-style:none;">
                    A danger alert will be shown if the save request could not be handled.
                    <div class="alert alert-danger">Something went wrong:  <strong>Error Message</strong></div>
                </li>

                <li>
                    Clicking on <strong><i class="fas fa-eraser"></i> Clear</strong> will clear all the fields in the form.
                </li>
            </ul>
        </p>
    </div>
    <hr />
    <h5>Updating plans</h5>
    <div>
        <p><i>When updating a plan</i><p />
        <p>
            <ul>
                <li>
                    From the plans table, click on the <i class="fas fa-edit"></i> icon on a row in the <strong>Options</strong> column to open the Manage plan dialog.
                </li>
                <li>
                    Enter in fields for the form to be changed.
                </li>
                <li>
                    Clicking on <strong><i class="fas fa-save"></i> Save</strong> will send a request to the server to create the plan and save it to the database.
                </li>
                <li style="list-style:none;">
                    A success alert will be shown confirming the save request was sucessfully completed.
                    <div class="alert alert-success"><strong>Example plan</strong> has been successfully updated.</div>
                </li>
                <li style="list-style:none;">
                    A danger alert will be shown if the save request could not be handled.
                    <div class="alert alert-danger">Something went wrong:  <strong>Error Message</strong></div>
                </li>

            </ul>
        </p>
    </div>
    <hr />
    <h5>Deleting plans</h5>
    <div>
        <p><i>When deleting a plan</i><p/>
        <p>
            <ul>
                <li>
                    From the plans table, click on the <i class="fas fa-edit"></i> icon on a row in the <strong>Options</strong> column to open the Manage plan dialog.
                </li>
                <li>
                    Clicking on <strong><i class="fas fa-times"></i> Delete</strong> will ask for a confirmation before deleting.
                    <ul>
                        <li>Clicking <strong>No</strong> will cancel the confirmation.</li>
                        <li>Clicking <strong>Yes</strong> will submit a delete request for the plan.</li>
                        <li style="list-style:none;">
                            A success alert will be shown confirming the delete request was sucessfully completed.
                            <div class="alert alert-success"><strong>Example plan</strong> has been successfully deleted.</div>
                        </li>
                        <li style="list-style:none;">
                            A danger alert will be shown if the delete request could not be handled.
                            <div class="alert alert-danger">Something went wrong:  <strong>Error Message</strong></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</div>
